{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Create {% endblock %}

{% block body %}

<div class="container">
    <center><h1>Registro Pacientes</h1></center>
    <form action='' method = "POST">
    <table class="table">
        <tr>
            <td>Cedula:</td>
            <td><input type = "text" name = "ci" class="form-control" value="" /></td>
        </tr>
        <tr>
            <td>Nombres:</td>
            <td><input type = "text" name = "name" class="form-control" value="" /></td>
        </tr>
    
        <tr>
            <td>Telefono:</td>
            <td><input type = "text" name = "cell" class="form-control" value="" /></td>
        </tr> 

        <tr>
            <td>Correo:</td>
            <td><input type = "text" name = "correo" class="form-control" value="" /></td>
        </tr> 

        <tr>
            <td>Direccion:</td>
            <td><input type = "text" name = "direc" class="form-control" value="" /></td>
        </tr> 

        <tr>
            <td>Alergia a medicamento:</td>
            <td><input type = "text" name = "alergia" class="form-control" value="" /></td>
        </tr> 
    
        <tr>
            <td colspan="2">
               <a href="/api/users"><input type="submit" name="submit" value="Crear" class="btn btn-success"></a>
                <!-- <a href='/api/users'  class="btn btn-dark">Crear</a> -->
                <a href='/' class="btn btn-dark">Cancelar</a>
            </td>           
        </tr>
    </table>      
      </form>
    
    </div>

{% endblock %}