{% extends 'master.html' %}
{% include 'header.html' %}
 
{% block title %} Select {% endblock %}
 
{% block body %}
<center><h1>Perfil Pacientes</h1></center>
<div class="container">
    <table class="table">
        <thead style="background-color: brown;color: aliceblue;">
           <th>ID</th>
           <th>Cedula</th>
           <th>Nombres</th>
           <th>Telefono</th>
           <th>Correo</th>
           <th>Direccion</th>
           <th>Alergia</th>
           <th>Receta</th>
       </thead>

      <tbody>
       {% for user in pacientes %}
       <tr
       {% if loop.index %2==0 %}
       style="background-color: rgb(217, 255, 243);"
       {% else %}
       style="background-color: rgb(248, 169, 169);"
       {% endif %}
       >
       <td>{{user.id}}</td>
       <td>{{user.cedula}}</td>
       <td>{{user.nombres}}</td>
       <td>{{user.telefono}}</td>
       <td>{{user.correo}}</td>
       <td>{{user.direccion}}</td>
       <td>{{user.alergia}}</td>
       <td>{{user.receta}}</td>
       <td> <span style="font-size: 24px;color:green;">
          <a href="/{{user.id}}/edit"> <i class="fas fa-edit"></i></a> </span>
           | <span style="font-size: 24px;color:red;">  
             <a href="/{{user.id}}/delete"> <i class="fas fa-trash-alt"></i></a></span>
             <a href="/citas">Citas</a></td>

       {% endfor %}
       
      </tbody>
    </table>
    <a href='/' class="btn btn-dark">Crear</a>

    <select>
      {% for user in pacientes %}
        <option value="value"+{{user.name}}>{{user.name}}</option>
      {% endfor %}
    </select>  
   </div>
   <!--https://gist.github.com/gbaldera/3751301-->
   <!--https://jinja.palletsprojects.com/en/3.1.x/templates/
https://www.thepythoncode.com/code/front-end-of-crud-flask-app-using-jinja-and-bootstrap
https://www.thepythoncode.com/article/front-end-of-crud-flask-app-using-jinja-and-bootstrap
-->

   <!-- Modal -->
   {% for user in pacientes %}
   <!-- Modal -->
    <div class="modal fade" id="myOutput" role="dialog">
      <div class="modal-dialog modal-lg">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Task Output</h4>
          </div>
          <div class="modal-body">
            <p>{{ user.description }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
  
      </div>
    </div>
  {% endfor %}

{% endblock %}