{% extends 'mastercita.html' %}
{% include 'headercita.html' %}

{% block title %} Update {% endblock %}

{% block body %}
<center><h1>Actualizar Cita</h1></center>
<div class="container">
    <form action='' method = "POST">
    <table class="table">
        <tr>
            <td>Cedula:</td>
            <td><input type = "text" name = "cedula" value="{{user.cedula}}" class="form-control" readonly/></td>
        </tr>
        <tr>
            <td>Nombres:</td>
            <td><input type = "text" name = "nombre" class="form-control" value="{{user.nombre}}" readonly/></td>
        </tr>
    
        <tr>
            <td>Telefono:</td>
            <td><input type = "text" name = "telefono" class="form-control" value="{{user.telefono}}"readonly /></td>
        </tr> 

        <tr>
            <td>Dia:</td>
            <td><input type = "text" name = "dia" class="form-control" value="{{user.dia}}" /></td>
        </tr> 
        <tr>
            <td>Hora:</td>
            <td><input type = "text" name = "hora" class="form-control" value="{{user.hora}}" /></td>
        </tr> 

        <tr>
            <td>Servicio:</td>
            <td><input type = "text" name = "servicio" class="form-control" value="{{user.servicio}}" /></td>
        </tr> 
        <tr>
            <td>Receta:</td>
            <td><input type = "text" name = "receta" class="form-control" value="{{user.receta}}" /></td>
        </tr> 

    
        <tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Actualizar" class="btn btn-success">
                <a href='/api/citas' class="btn btn-dark">Cancelar</a>
            </td>           
        </tr>
    </table>      
      </form>
    
    </div>

{% endblock %}